

{{#partial "content"}}
    <div class="container-fluid">
        <div class="row success-parent-container">
            <div class="col-md-6 success-child-container">
                <p id="heading-success">You have successfully submitted the form</p>
                <div class="buttons">
                    <a href="/animals/new">
                        <button class="btn btn-primary">Add New</button>
                    </a>
                    <a href="/animals">
                        <button class="btn btn-primary">All Animals</button>
                    </a>
                </div>
            </div>
            <div class="col-md-6 img-success">
                <img src="/images/fox.png" alt="fox">
            </div>
        </div>
    </div>
{{/partial}}

{{> layout.hbs}}