{{#partial "content"}}

    <body class="bg-image">
        <div class="line">
<p class="head-line">We are all about protecting wildlife <br> and endangered species</p>

<p class="tag-line">Have you seen any wildlife within your area? <br> We are trying to track them and
    protect the endangered species.<br> Please report any sightings</p>

<a href="/animals/new"><button class="btn btn-primary">Add New Sighting</button></a>
</div>
    </body>

{{/partial}}
{{> layout.hbs}}